/.vs
/ArchSim/bin
/ArchSim/obj
/bin
/obj
/Properties
/ArchSim/Properties/PublishProfiles
ArchSim/appsettings.json
ArchSim/Properties/PublishProfiles/think-thetruecode-app - Web Deploy.pubxml.user
ArchSim/.claude/settings.local.json
ArchSim/Properties/PublishProfiles/think-thetruecode-app - Web Deploy.pubxml.user
ArchSim/appsettings.json
